:root {
  --mediumTurqoise: #2DCEEF;
  --bleuDeFrance: #2D9BEF;
  --jasminePurple: #9B2DEF;
  --white: #ffffff;
  --quilGray: #D5D5D5;
  --startDust: #99999F;
  --charcoalGray: #424346;
  --iridium: #3A3A3D;
  --thunder: #303033;
  --rangoonGreen: #161A1A;

  --fontLato: "https://fonts.google.com/specimen/Lato";
  --fontPoppins: "https://fonts.google.com/specimen/Poppins";
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section {
  width: 100vw;
  position: relative;  
  opacity: .9;  
}

.main_background{
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/images/background.jpg");  
  background-repeat: no-repeat;  
  background-position: center;
  background-size: cover;
  position: fixed;
  z-index: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.listen_bg{  
  width: 100%; 
  background-image: url("../assets/images/listen_anytime.png");  
  background-repeat: no-repeat;  
  background-position: center;
  background-size: cover;  
  z-index: 1;
}

.blur{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(49, 47, 47, 0.71);
  z-index: 0;
  height: auto;
}

.center {  
  justify-content: center;
  align-items: center;
}

.card-form{
  background-color: var(--white);
  padding: 1rem ;
  border-radius: 5px;
  z-index: 1;
}

.app__navbar-mobile{
  display: none;
  transition: all 3s ease;
}

.app_flex_col{
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 900px) {
  .app__navbar-mobile{
    display: block !important;
  }

  
}
@media screen and (max-width: 414px) {  
  .app_sm{
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
    width: 100%;    
    padding: 0 16px;
  }
  .app_sm_baseline{
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    align-items: baseline;
    width: 100%;    
    padding: 0 16px;
  }

  .app_sm_grow{
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    align-items: left;
    width: 100%;    
    padding: 0 16px;
  }
  .app_sm_even{
    flex-direction: column;
    justify-content: space-evenly;
    gap: 16px;
    align-items: center;
    width: 100%;    
    padding: 0 16px;
  }

  .app_sm_center{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;    
    width: 100%;    
    padding: 0 16px;
  }
  .text_sm{
    width: 90%;
    margin: 0;
  }
  .app_flex{
    display: flex;    
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }

  .header_sm{
    justify-content: space-between;
    padding: 0 16px;
  }

}

